@charset "utf-8";
/* position */
img { border:0px;}
.tcontent img {max-width: 1300px;max-height: 800px;}
.ption_r {position:relative;}
.ption_a {position:absolute;}
.f_left{float:left;}
.f_right{float:right;}
.clearfix{clear:both; _height:1px; overflow:hidden; *display:inline;}
.hid,.qqdiv{display:none;}
select,input{   vertical-align:middle;}
select{ height:20px; font-size:12px;}
html, body { font-size: 9pt; margin: 0px; color: #FFF;     font-family: Microsoft Yahei,Verdana, Geneva, sans-serif; overflow: hidden; }
p { margin: 0px; }
.u { cursor: pointer; text-decoration: none; }
.date {    border-radius: 20px; padding: 0 10px;color: #969696!important;font-size: 12px;background: rgba(0,0,0,.2);margin: 0 10px }
.positionAbs{position: absolute;}
::-webkit-scrollbar {
color:white;
background-color:rgba(0,0,0,0.2);
width:10px;
height:10px;
-webkit-box-shadow:2px 2px 6px rgba(0,0,0,.2) inset
}
::-webkit-scrollbar-thumb {
border-radius:16px;
background:gray
}
/*高级客服*/
#qqkefu{position: absolute;display: inline-block;background-image: url(../images/png1.png);float: right;width: 114px;margin: 12px 0 0 20px;z-index: 99;border-radius: 3px;}
#qqkefu .qqkefulist{background: url(../images/onlineQQ.png) no-repeat center;display:block;margin-top:0px;}
#qqkefu  li{line-height: 15px;display:none;width:100%;height:26px;text-align:center;margin-top:5px;}
#qqkefu li a{float: none;padding:0px;}
.OnLineUser { width: 241px; overflow: auto; position: relative; }
.OnLineUser li { list-style-type: none; float: left;    font-family: Arial,"Microsoft Yahei";border-bottom: 1px solid rgba(0, 0, 0, 0.1);width: 241px; }
.OnLineUser li img { border: 0px;border-radius: 16px; }
.OnLineUser li img.shut-up {
    border-radius: 0px;
    display: none;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    margin-top: 5px;
}
.OnLineUser li a {height: 30px; line-height: 30px; float: left; width: 228px; padding: 4px; cursor:default}
.OnLineUser li span { float: right; cursor: pointer; }
.OnLineUser li cite { float: left; padding-right: 3px; position: relative; height: 22px; overflow: hidden; padding-top: 2px;}
.OnLineUser li cite .head { height: 22px; width: 22px; -webkit-border-radius: 16px; -moz-border-radius:16px; border-radius: 5px; }
.OnLineUser li cite .state { position: relative; margin-right: -15px; left: -13px; top: 3px; }
.OnLineUser li dt { height: 26px; line-height: 26px; width: 131px; overflow: hidden; float: left; margin: 0px; white-space: nowrap; text-overflow: ellipsis; font-size: 13px;}
.OnLineUser li dt code { color: #999; display: none }
.OnLineUser li dd { height: 20px; width: 45px; overflow: hidden; float: left; margin: 0px; display: none; }
.OnLineUser li dl { height: 26px; width: 170px; overflow: hidden; float: left; margin: 0px; color: #999; display: none; }
.OnLineUser li a:hover dt {  }
.OnLineUser li:hover {background:rgba(202,202,202,0.33);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#20000000,endColorstr=#20000000)";filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#20000000,endColorstr=#20000000)}
.OnLineUser li .bts { padding:4px;  float:left;margin-top: 10px; margin-left: 19px;}
.OnLineUser li .bts  .osl{ height:22px; line-height:22px; border:0px; background: url(../images/whisperMi.png); text-align:center; width:77px; color:#fff;cursor: pointer;margin-left:12px;}
.OnLineUser li .bts  .qsl{ height:22px; line-height:22px; border:0px;text-align:center; width:75px; color:#fff; margin-left:20px; padding-left:10px; background:url(../images/icon_qq.png) no-repeat; background-color:#f77a22; background-position: 4px 3px;cursor: pointer;}
.OnLineUser li .sn { padding:4px; float:left;}
#group_myuser .kfbtns { height: 60px; display: inline-block;}
#group_myuser .kfbtns a {float: left;display: block;border-radius: 2px;transition: .3s;width: 90px;height: 20px;line-height: 20px; padding: 6px; margin: 14px 2px;margin-left: 10px;border: 1px solid transparent; font-size: 14px;text-align: center;}
#group_myuser .kfbtns a i {margin-right: 5px;}
#group_myuser .kfbtns .btn1 { border: 1px #ee433e solid; color: #ee433e;}
#group_myuser .kfbtns .btn1:hover { color: #fff; background: #ee433e }
#group_myuser .kfbtns .btn2 { border: 1px #0e79f6 solid; color: #0e79f6;}
#group_myuser .kfbtns .btn2:hover { color: #fff; background: #0e79f6 }
 #group_myuser h4.title {margin: 10px;padding: 0 10px;border-left: 3px solid #D73C3C;font-size: 16px;font-weight: 500;}
 #group_myuser #MyKfProfile{ border-top: 1px solid #D6DEE6;padding: 10px!important;font-size: 14px;}
#modules { margin: 0px 0px 2px 0px;}
#modules ul li {width: 55px;height: 59px;float: left;margin: 0 2px 2px 0;padding: 10px 12px;background: rgba(0,0,0,0.3); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000)";filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000);}
#modules ul li a {color: #fff;text-align: center;display: block;}
#modules ul li a:hover{color:#FF0; }
#modules ul li a img {width: 30px;height: 30px;}
#modules ul li a span {display: block;}
#modules ul li.wapbtn {position: relative;}
#modules ul li.wapbtn .openerweima {display:none;position:absolute;left:92px;top:0px;transition: .3s;width:160px;padding:6px 5px;text-align:center;font-size:14px;color:#ffffff;background:#eb6200;line-height:1.4;z-index:999;}
#modules ul li.wapbtn .openerweima img {margin-bottom:5px;}
#modules ul li.wapbtn .openerweima .sanjiao {position:absolute;left:-6px;top:35px;width:7px;height:14px;background:url(../images/wapopenicon.png) no-repeat 0 0;}
#modules ul li.wapbtn:hover .openerweima {display:block;}
h4.title {margin: 10px;padding: 0 10px;border-left: 3px solid #D73C3C;line-height: 1.1;}
#whisperProfile{padding-left: 10px!important;padding-right: 10px!important;font-size: 12px!important;color: #666!important;font-family: Arial,"Microsoft Yahei"!important;}
#userpic{text-align: center;margin-top: 20px;}
#UI_MainBox { width: 100%; min-width: 1024px; height: 768px; min-height: 768px; }
#UI_Head { MIN-WIDTH: 910px; HEIGHT: 50px; margin-bottom: 6px; }
#UI_Head .head { MIN-WIDTH: 910px; HEIGHT: 50px; background-image: url(../images/png1.png); }
#UI_Head .logo_bg { position: absolute; top: 0px; left: 0px; height: 54px; z-index: 1000;
 padding-left: 235px; line-height: 50px; font-size: 14px;vertical-align:middle }

.f_left .ewm { 
    display: none;
    position: absolute;
    left: 418px;
    top: 48px;
    transition: .3s;
    width: 160px;
    padding: 6px 5px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background: #eb6200;
    line-height: 1.4;
    z-index: 999;
}
.f_left .ewm img {
    width: 160px;
    height: 160px;
}
#view-zhibo:hover  .ewm{display:block;}
.f_left .ewm .sanjiao {
    position: absolute;
    left: 81px;
    top: -10px;
    width: 7px;
    height: 14px;
    background: url(../images/wapopenicon.png) no-repeat 0 0;
    transform: rotate(90deg);
}
.flash1 {
    -webkit-animation: flash .5s infinite;
    -moz-animation: flash .5s infinite;
     animation: flash .5s infinite; 
}
@-webkit-keyframes flash {
    0%,100% {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -webkit-transform:scale(.95);
        -moz-transform:scale(.95);
        -ms-transform:scale(.95);
        -o-transform:scale(.95);
        transform:scale(.95)
    }
}
@-moz-keyframes flash {
    0%,100% {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -webkit-transform:scale(.95);
        -moz-transform:scale(.95);
        -ms-transform:scale(.95);
        -o-transform:scale(.95);
        transform:scale(.95)
    }
}
@-ms-keyframes flash {
    0%,100% { 
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -webkit-transform:scale(.95);
        -moz-transform:scale(.95);
        -ms-transform:scale(.95);
        -o-transform:scale(.95);
        transform:scale(.95)
    }
}
@-o-keyframes flash { 
    0%,100% { 
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -webkit-transform:scale(.95);
        -moz-transform:scale(.95);
        -ms-transform:scale(.95);
        -o-transform:scale(.95);
        transform:scale(.95)
    }
}
@keyframes flash {
    0%,100% {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -webkit-transform:scale(.95);
        -moz-transform:scale(.95);
        -ms-transform:scale(.95);
        -o-transform:scale(.95);
        transform:scale(.95)
    }
}



.f_left img{ width:20px; height:20px; margin-right:5px; vertical-align:middle }
.f_left a {  height:50px; line-height:50px;}
.f_left .fa-mobile{font-size: 29px;  vertical-align: middle;}
.dropdown-toggle{float: left; padding: 4px 16px;   display: block;font-size: 15px;background: #19191b99;margin-right:10px;}
.caret { margin-right: -3px; display: inline-block; width: 0; height: 0; margin-left: 7px; vertical-align: middle; border-top: 4px dashed;  border-top: 4px solid\9;  border-right: 4px solid transparent;  border-left: 4px solid transparent;}
#UI_Head #head_box .head_skin { POSITION: absolute; COLOR: #fffbe6;RIGHT: 194px ;height: 50px;line-height: 42px}
#UI_Head #head_box .head_skin a:hover{background:rgba(202,202,202,0.33);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#20000000,endColorstr=#20000000)";filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#20000000,endColorstr=#20000000)}
#UI_Head #head_box .head_skin .icon-pencil{margin-right: 5px;}
#UI_Head #head_box { POSITION: relative; }
#UI_Head #head_box .head_user { POSITION: absolute; COLOR: #fffbe6; TOP: 12px; RIGHT: 9px }
#UI_Head #head_box .head_user .reg{text-align: center;font-size: 14px;float: left;display: block;width: 85px;text-indent:2em;height:28px;line-height: 28px;background: #858585 url(../images/n-icon-11.png) no-repeat 15px -25px;color: #FFF;border-radius:15px;}
#UI_Head #head_box .head_user .reg:hover{background-color:#9f9f9f;}
#UI_Head #head_box .head_user .login{text-align: center;font-size: 14px;float: left;display: block;width: 85px;text-indent:2em;margin-right: 10px;height: 28px;line-height: 28px;background: #f46b0a url(../images/n-icon-11.png) no-repeat 15px 5px;color: #fff;border-radius:15px;}
#UI_Head #head_box .head_user .login:hover{background-color: #f77a22;}
#UI_Head #head_box .head_user .userinfo {text-align: center;font-size: 14px;float: left;display: block;height: 32px;line-height: 32px;background:#09F;color: #fff; padding-right:10px;   -moz-border-radius: 5px;      /* Gecko browsers */
        -webkit-border-radius: 5px;   /* Webkit browsers */
        border-radius:5px;            /* W3C syntax */
        overflow: hidden;}
#UI_Head #head_box .head_user .userinfo:hover .account-info-box {
    display: block;
}
#UI_Head #head_box .head_user .userinfo .account-info-box {
    display:none;
    position: absolute;
    top: 32.4px;
    right: 0;
    z-index: 10000;
    width: 180px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(100,100,100,.3);
}
#UI_Head #head_box .head_user .userinfo .account-info-box .account-pro {
    margin: 0 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
    line-height: 20px;
}
#UI_Head #head_box .head_user .userinfo .avatar {
    float: left;
    margin-top: 6px;
    width: 34px;
    height: 34px;
    border-radius: 34px;
}
#UI_Head #head_box .head_user .userinfo .account-info-box .account-pro .username {
    float: none;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 12px;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #868686;
    text-align: left;
}
#UI_Head #head_box .head_user .userinfo .account-info-box .account-pro .account-momoid {
    margin-left: 45px;
    color: #b4b3b3;
    font-size: 12px;
    text-align: left;
}
#UI_Head #head_box .head_user .userinfo .account-info-box .account-list {
    text-align: left;
}
#UI_Head #head_box .head_user .userinfo .account-info-box ul.account-list li:hover{
    background: #f7f8f8
}
#UI_Head #head_box .head_user .userinfo .account-info-box .account-list .account-item {
    padding-left: 10px;
    height: 40px;
    color: #868686;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}
#UI_Head #head_box .head_user .userinfo .account-info-box .account-list .exit-btn a {
    color: #868686;
    font-size: 14px;
}

#UI_Head #head_box .head_user .userimg{float: left;height: 32px; margin-right:5px;}
#UI_Head #head_box .head_user .userlogout{text-align: center;font-size: 14px;float: left;display: block;height: 32px;line-height: 32px;background:#666;color: #fff;padding-right:10px;padding-left:10px;   -moz-border-radius: 5px;      /* Gecko browsers */
        -webkit-border-radius: 5px;   /* Webkit browsers */
        border-radius:5px;            /* W3C syntax */
        overflow: hidden;}
#UI_Left { width: 242px; margin-bottom: 2px; margin-left: 2px; float: left; }
#UI_Right { width: 450px; margin-bottom: 2px; margin-right: 2px; margin-left:5px; float: right; position: relative; border-radius: 2px;}
::-webkit-scrollbar 
{  
    width: 1px;    
    background-color: #F5F5F5;  
}  
#UI_Central { 
    float: left;
    border-radius: 2px;
    margin-left: 5px;
    position: relative;
    width: 1144px;
}
#Y_pub_Tools{ position: absolute;right: 2px;top: 4px; z-index:9;}
#Y_pub_Tools a {
    background: url("../images/mesbg.png") repeat scroll 0 0 transparent;
    border-radius: 3px;
    float: left;
    height: 20px;
    cursor: pointer;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 50px;
}
#Y_pub_Tools .clear {
    background: url("../images/bin.png") no-repeat scroll left bottom transparent;
    padding-left: 18px;
    color: #ffffff;
}
#Y_pub_Tools .scroll {
    background: url("../images/check.png") no-repeat scroll left bottom transparent;
    padding-left: 18px;
      color: #ffffff;
}
#Y_pub_Tools .noscroll {
    background: url("../images/check.png") no-repeat scroll left top transparent;
}
#Y_pub_Tools span {
    box-shadow: none;
    margin: 0;
}
.dimensionCode,.hongBao, .signin{z-index: 9999; position: absolute;right: 10px;top: 30px;   
 cursor: pointer;margin: 7px 0 0 7px; height: 70px;line-height: 18px;text-align: center;}
.hongBao{right: 7px;top: 100px; }
.signin {
    right: 7px;
    top: 167px;
}
.signin img {
    width: 35px;
}
.tbox{width:600px;height:468px;position:fixed;display:block;z-index:1002;background:url(../images/malert.png) no-repeat;}
.malert .tinner{position:relative;height:509px;}
.malert #alertmsg{    
    width: 335px;
    text-indent: 2em;
    color: white;
    font-size: 16px;
    line-height: 30px;
    padding-top: 8px;
    position: absolute;
    bottom: 112px;
    left: 132px;
}
.malert .bts{position:absolute;width:100%;height:40px;bottom:56px;left:87px;overflow:hidden;}
.malert #reg{background:#ffed00;border-radius:2px;box-shadow:0 0 2px #555;color: red;}
.malert #login{background:#00b2ed;border-radius:2px;box-shadow:0 0 2px #555;}
.malert .bts a{display:block;height:32px;width:68px;text-align:center;color:#fff;
    float:left;text-decoration:none;padding:0 10px;line-height:32px;margin-left:85px;font-size:16px;}
#tboxMalert .tinner .closeMessBtn{right:32px;top:84px;}
.closeMessBtn:hover{background:url(../images/messageBtn.png) no-repeat left -3px;}
.closeMessBtn{width:25px;height:25px;line-height:25px;text-align:center;position:absolute;right:0px;top:29px;z-index:100;cursor:pointer;font-size:28px;background:#FFF;color:#888;background:url(../images/messageBtn.png) no-repeat left -32px;}
.video-execption {
width: 90px;
height: 26px;
display: none;
text-align: left;
cursor: default;
color: #0F9;
font-size: 10px;
line-height: 22px;
margin-left: 107px;
}
.video-execption a {
transition: all .4s ease-out;
color: #FFF;
font-size: 10px;
padding: 4px 8px;
padding-left: 26px;
text-decoration: none;
border-radius: 4px;
background: #151515 url(../images/refresh.png) no-repeat 4px center;
}
.btn-input {
float: right;
border: 0;

color: #FFF;
font-size: 18px;
width: 100px;
height: 55px;
margin: 8px 5px 0 0;
cursor: pointer;
}
.btn-input {
margin: 0;
height: 100%;
background-color: #2196F3;
background: #2196F3 url(../images/sent.png) center center no-repeat;
border-radius: 3px;
}
.teacherBtn {
display: inline-block;

    height: 30px;
    background: url(../images/headerTop.png) no-repeat -286px 6px;
    padding-right: 28px;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
}
 .checkMessage {
     float: left;
   width: 35px;
    height: 27px;
    line-height: 13px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #b9dbff;
    color: #285d8f;
    cursor: pointer;
    margin-top: 13px;
    margin-left: 5px;
    font-size: 12px;
}
.main-meta-toggle {
        border: 0;
    position: absolute;
    top: 50%;
    width: 7px;
    height: 50px;
    cursor: pointer;
    margin-top: -24px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border-color: #fff;
    border-style: solid;
    z-index: 999;
    border-left-width: 1px;
    border-right-width: 0;
}
.main-meta-toggle:hover {
	color: #7ABDFF;
	border-color:  #7ABDFF;
}
#manage_div{ height:25px; line-height:23px; display:none;    border-top: rgba(255,255,255,0.3) 1px solid; padding-left:5px;color: #fff;background: rgba(0,0,0,0.3); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000)";filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000);}
#generateCode {
    float: right;
    margin-right: 25px;
}
#favlink a{margin:0;padding-right:12px;}
#favlink .link1{background: none;padding:3px 7px 5px 7px;padding-left:12px;color:#eee;font-size: 14px;}
#favlink .link1.left1{border-left:none;color:#FF0;padding-left: 46px;  background: url(../images/header-icon.png) no-repeat 10px -6px;}
#favlink .link1:hover{color:red;} 
#UI_Left1 { float: left; width: 60px; margin-bottom: 0px; overflow: hidden ;background-image: url(../images/png1.png);}
#UI_Left2 { float: left; width: 242px; margin-left: 2px; }
#MsgBox { }
#Msg img { vertical-align:text-bottom; }
#FontBar { background:#F8F8F8; padding: 4px; height: 30px;line-height: 30px; width: 400px; overflow: hidden; position: absolute;z-index: 99999999;    border: 1px solid #7db9e7;border-radius: 3px; }
#ColorTable li { list-style-position: outside; list-style-type: none; width: 10px; height: 10px; overflow: hidden; float: left; cursor: hand; }
.drag_skin { height: 1px; cursor: n-resize; overflow: hidden; background-image: url(../images/MesSplit.png) }
a { font-size: 12px; color: #FFF; text-decoration: none; cursor:pointer;}
.bt_down { font-family: Webdings; width: 10px; text-align: center; }
.bt_true { border: 1px #999 solid; background-color:#CCC; }
.bt_false { border: 1px #F8F8F8 solid; background-color: #F8F8F8; }
.head_bg { background-image: url(HeadBackground_R.jpg); background-repeat: no-repeat; background-position: right; height: 40px; }
.title_bar { height: 35px; line-height: 35px; overflow: hidden;  padding-left: 5px; color: #FFF; font-size: 14px; }
.title_bar div { float: left; }
.title_bar input {  margin-left: 2px; margin-right: 2px; }
.title_bar2 { height: 35px; line-height: 35px; border-radius:2px 2px 0px 0px; overflow: hidden; color: #FFF;font-size: 14px;font-family:宋体;
background:rgba(23, 12, 12, 0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#50ffffff,endColorstr=#50ffffff)";
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#50ffffff,endColorstr=#50ffffff);}
.title_bar2 div { float: left; }
.title_bar2 input {  margin-left: 2px; margin-right: 2px; }
.title_bar .btn-right{/*float: right;padding: 0px 8px 5px;*/}
.title_bar .btn {margin-bottom: 0;font-weight: 400; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; border: 1px solid transparent;white-space: nowrap;padding: 2px 15px;font-size: 14px;line-height: 1.42857;border-radius: 2px;transition: .3s;-webkit-transition: .3s;background: #555;}
.title_bar .btn-success {  color: #fff; background-color: #ee433e; border-color: #ee433e;}
.title_bar .btn-shuaxin { color: #fff; background-color: #808080; border-color: #808080;}
.title_bar .btn-broadcast { color: #fff; background-color: #127dec; border-color: #127dec;}
.title_bar .btn-bet {
/*    color: #fb3838;
    background-color: #f6ae10;
    border-color: #f6ae10;*/
}
.title_bar .active {
    background: red;
}
.title_bar .btn i {margin-right: 5px;}
.title_bar .btn-success:hover{background-color:#D90000;border-color:#D90000}
.title_bar .btn-shuaxin:hover{background-color:#06F;border-color:#06F}
.title_bar .btn-broadcast:hover { color: #fff; background-color: #0c70b3; border-color: #0c70b3;}
.horn {background: #0c5382;height: 35px; line-height: 35px; padding:0 15px 0 15px;color:#fff;font-size: 12px;font-family: "微软雅黑", "宋体", Arial, sans-serif;}
.horn img {margin:0 0 -2px 2px;}
.fl{float: left;}
.basic_info_tab:hover {
    background-color: #b8cee8;
}
#notice-scrollbox{width: 82%;overflow: hidden;height: 35px;line-height: 35px;}
#Send_key_option { border: 1px solid #CCB3B3; background: #f4fdec; padding: 2px; width: 180px; position: absolute; overflow: hidden; cursor: hand; }
#Manage { border: 1px solid #CCB3B3; background: #f4fdec; width: 290px; padding: 5px; position: absolute; overflow: hidden; }
#ColorTable { border: 1px solid #CCB3B3; background: #F8F8F8; padding: 5px; width: 180px; position: absolute; overflow: hidden;z-index: 99999999; }
#ToUser{vertical-align:baseline; margin:0px; margin-left:5px;    display: inline-block;}
.lts_chat5 {
    margin-right: 12px;
    height: 22px;

    margin-top: 3px;
    background-color: #F58088;
    line-height: 22px;
    padding: 0 10px;
    color: #FFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#apDiv2 {
    position: absolute;
    width: 19px;
    height: 19px;
    z-index: 1001;
    background: url(../images/xxx-close.png) no-repeat 0 0;
        right: -10px;
    bottom: 12px;
    display: none;
}
#FontName,#FontSize{width: 115px;
    height: 26px;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    background-color: #FFF;
    padding: 2px 0 2px 5px;
    text-align: left;
    cursor: default;}
/* 抢红包 */
#hongBaoClick {
    position: absolute;
    width: 415px;
    height: 448px;
    cursor: default;
    z-index: 9199;
    background: transparent url(../images/hongBaoClick.png) no-repeat 0 0;
}
#hongBaoClick .bagbtn {
    position: absolute;
    bottom: 35px;
    left: 79px;
}
#hongBaoClick .sethongBao, #hongBaoClick .lookmainbag {
    width: 112px;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #ef412f;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
#hongBaoClick .lookmainbag {
    margin-left: 38px;
}
#hongBaoClick .redbagclose {
    top: 305px;
    right: 50px;
}
.redbagclose {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background: url(../images/redbagclose.png) no-repeat;
    height: 14px;
    width: 14px;
    cursor: pointer;
}
#setEnvelope, #setEnvelopeOK {
    background: url(../images/setHongbao.png) no-repeat 0 0;
}

#setEnvelopeOK .tipOK {
    font-size: 24px;
    text-align: center;
    margin-top: 135px;
    color: #000;
}
#setEnvelopeOK .OK {
    margin: 0 auto;
    background-color: #fc4c4c;
    width: 70px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-top: 35px;
    letter-spacing: 2px;
}
#setEnvelope, #meetredbag, #failredbag, #successredbag, #hadredbag, #lookredbag, #lookthisbag, #setEnvelopeOK {
    position: absolute;
    z-index: 999999;
    height: 485px;
    width: 347px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 8px;
    cursor: default;
}
#setEnvelope .envelopeBody {
    padding-top: 135px;
}
.mt10 {
    margin-top: 10px;
}
.registerNewconter {
    padding: 0 35px 0 0;
    margin-top: 26px;
    overflow: hidden;
    text-align: right;
    font-size: 12px;
}

#setEnvelope .registerNewconter {
    padding: 0 30px 0 0;
    margin-top: 10px;
    font-size: 14px;
    color: #000;
}
.registerNewconter input {
    width: 145px;
    height: 23px;
    border: 1px #fc5085 solid;
    padding: 2px 10px;
    color: #a0a0a0;
}
#setEnvelope .registerNewconter input {
    width: 150px;
    border: 0;
    font-weight: 400;
    border: 1px solid #e2e2e2;
}
#setEnvelope .envelopetip {
    color: red;
    height: 16px;
    width: 60%;
    margin-bottom: 2px;
    margin-left: 127px;
}

#setEnvelope .registerNewconter p {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}
.btnEnvelope {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    text-align: center;
    background: #fc4c4c;
    border-radius: 4px;
    outline: 0;
    width: 90px;
    height: 30px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    margin-right: 95px;
    border: 0;
    margin-top: 15px;
}
#btnenvelopeing {
    display: none;
}
#setEnvelope .registerNewconter textarea {
    width: 150px;
    height: 50px;
    font-weight: 400;
    padding: 2px 10px;
    color: #a0a0a0;
}
#setEnvelope .registerNewconter span {
    position: relative;
    bottom: 25px;
}
#setEnvelope .registerNewconter #mymoney1 {
    position: static;
}
#setEnvelopeOK {
    height: 270px;
}
 .redbag-top {
    background-color: #fa9d3b;
    padding: 12px 10px;
    overflow: hidden;
 border-radius: 3px;
}
.ml10 {
    margin-left: 10px;
      overflow: hidden;
       width: 124px;
    white-space: nowrap;
    text-overflow: ellipsis;
   
  
}
.content-detail{
    line-height: normal;
    cursor: pointer;
}

#successredbag, #lookredbag, #lookthisbag {
    background: url(../images/successredbag.png) no-repeat 0 0;
    text-align: center;
}
#successredbag .img, #lookredbag .img, #lookthisbag .img {
    margin: 0 auto;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-top: 45px;
    overflow: hidden;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
}
#successredbag .money, #lookredbag .money, #lookthisbag .money {
    font-size: 24px;
    height: 42px;
    line-height: 42px;
}
.bagred {
    color: #fc4c4c;
}
.baginformation {
    margin-top: 5px;
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
    text-align: left;
    color: #000;
}
#successredbag .HBlist, #lookredbag .HBlist, #lookthisbag .HBlist {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    overflow-y: auto;
    margin-top: 0;
    padding-left: 15px;
    padding-bottom: 20px;
}

#successredbag .HBlist .list-info, #lookredbag .HBlist .list-info, #lookthisbag .HBlist .list-info {
    border-bottom: 1px solid #dbdbdb;
    overflow: hidden;
    padding: 10px 0;
}
#successredbag .HBlist .user-img, #lookredbag .HBlist .user-img, #lookthisbag .HBlist .user-img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    overflow: hidden;
    margin-right: 10px;
    float: left;
}
#successredbag .HBlist .list-right, #lookredbag .HBlist .list-right, #lookthisbag .HBlist .list-right {
    width: 267px;
    float: left;
}
.minebag1 {
    position: absolute;
    color: #333;
    font-size: 14px;
    bottom: 8px;
    left: 120px;
    cursor: pointer;
}
#meetredbag, #failredbag, #hadredbag {
    width: 314px;
    height: 414px;
    background: transparent url(../images/meetredbag.png) no-repeat 0 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
#meetredbag .img, #failredbag .img, #hadredbag .img {
    margin: 0 auto;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 60px;
    overflow: hidden;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
}
#failredbag .memos, #hadredbag .memos {
    margin-top: 32px;
    font-size: 18px;
}
.lookthisbag, .minebag {
    width: 120px;
    margin: 0 auto;
    margin-top: 165px;
    color: #fa9d3b;
    font-size: 14px;
    cursor: pointer;
}
.f14 {
    font-size: 14px;
    color: #000;
}
#successredbag .HBlist .user-time, #lookredbag .HBlist .user-time, #lookthisbag .HBlist .user-time {
    clear: both;
    text-align: left;
    color: #a0a0a0;
}
#successredbag .HBlist, #lookthisbag .HBlist {
    max-height: 203px;
}
#lookredbag .HBlist {
    max-height: 270px;
}
.message-wrap {
    margin: 0;
    height: auto;
    cursor: default;
    clear: both;
    position: relative;
    padding: 4px 10px 4px;
}
.redbag-info1 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 8px;
    margin-left: 125px;
    background-color: rgba(255,255,255,0.4);
    overflow: hidden;
    float: left;
}
.redbag-info1 p {
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    background: url(../images/hb-bg3.png) no-repeat left;
    background-size: 25px 24px;
    padding-left: 30px;
    color: #fff;
    overflow: hidden;
    float: left;
}
.clear {
    clear: both;
}
.chat-pic {
    cursor: url('../images/zoom.png'), auto;
}
.ck-slide ul { margin: 0; padding: 0; list-style-type: none;}
.ck-slide ul li img{ width: 100%;height: 100%}
.ck-slide { position: relative; overflow: hidden;}
.ck-slide ul.ck-slide-wrapper { top: 0; left: 0; z-index: 1; margin: 0; padding: 0;}
.ck-slide ul.ck-slide-wrapper li { position: absolute;width: 100%;    height: 100%;}
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 50%; z-index: 2; width: 35px; height: 70px; margin-top: -35px; border-radius: 3px; opacity: .15; background: red; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s;}
.ck-slide .ck-prev { left: 5px; background: url(../images/arrow-left.png) #000 50% no-repeat;}
.ck-slide .ck-next { right: 5px; background: url(../images/arrow-right.png) #000 50% no-repeat;}
.ck-slidebox { position: absolute; left: 50%; bottom: 37px; z-index: 30;}
.ck-slidebox ul { height: 20px; padding: 0 4px; border-radius: 8px; background: rgba(0,0,0,0.5);}
.ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px;}
.ck-slidebox ul li em { display: block; width: 12px; height: 12px; border-radius: 100%; background-color: #fff; text-indent: -9999px; cursor: pointer;}
.ck-slidebox ul li.current em { background-color: #fe6500;}
.ck-slidebox ul li em:hover { background-color: #fe6500;}
.ck-slide { width: 100%; height: 200px;margin: 0 auto;}
.ck-slide ul.ck-slide-wrapper {width: 100%;}

#FontSize{width: 60px;}
#Video_List { position: absolute; }
#Video_List .list { float: left; width: 148px; height: 110px; overflow: hidden; border: 1px solid #CCB3B3; margin-top: 1px; margin-left: 1px; }
#Video_List input { float: right; margin-top: 2px; }
#massage_box { border: 1px solid #ccc; }
#massage_box .title { background: #ccc; }
.Video_main_over { position: absolute; display: block; height: 150px; width: 260px; overflow: hidden; }
.Video_main_out { position: absolute; display: block; height: 150px; width: 150px; overflow: hidden; }
#menu {  cursor: default;    outline: none; position: absolute; color: #5B5C60; background:url("../images/ManageMenu_BG.png") repeat scroll 0 0 transparent  }
#menu #n { height: 23px; line-height: 23px; margin: 2px; margin: 1px; }
#menu #icon { height: 23px; width: 23px; float: left; overflow: hidden; padding-left: 5px;padding-right: 2px; }
#menu .over { background: #996699; color: #FFF; padding: 2px; }
#menu .out { padding: 2px; }
#menu .hr { padding: 0px;border-bottom: 1px dotted #5B5C60; }
#PInfo { position: absolute; border: 1px solid #ccc; border-top: 3px solid #ccc; top: -1000px; z-index: 1000; background: url(pop.gif) }
#PInfo .div { border: 1px solid #ccc; }
#Emote .div1 { border: 1px #FFF solid; margin: 1px; cursor: pointer; height: 24px; overflow: hidden }
#Emote .div2 { border: 1px #CCC solid; margin: 1px; cursor: pointer; height: 24px; overflow: hidden }
.bg_png { background: rgba(0,0,0,0.3);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#10000000,endColorstr=#10000000)";
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#10000000,endColorstr=#10000000);
 }
.bg_png1 {background: rgba(0,0,0,0.3);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#10000000,endColorstr=#10000000)";
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#10000000,endColorstr=#10000000);
}
.bg_png2 { background-image: url(../images/png2.png); }
.bg_png3 {    background: url(../images/userTabs.png);height:35px;line-height:35px;}
.sex-man { float: right; margin-top: 1px; cursor: pointer; width: 16px; height: 16px; background: url(t3.png) no-repeat -16px -11px; }
.sex-womon { float: right; margin-top: 1px; cursor: pointer; width: 16px; height: 16px; background: url(t3.png) no-repeat -45px -11px; }
.vipico { float: right; /* width: 26px; */ height: 20px; }
.vipico img{ height: 29px; cursor:default}
.content { background: rgb(243,245,246); padding: 3px; border-radius: 3px; float: left; box-shadow: 1px 1px 3px #000; line-height: 19px; color: #333; margin-bottom: 2px; }
.appico { display: block; text-align: center;  padding-bottom: 2px; }
.appico img { margin-top: 6px; margin-bottom: 0px; width: 40px; height: 40px; border: 0px; }
.appico span { color:#FFF; }
.appico:hover span { color: #FF0; }

.history-hr-wrap {
    padding: 20px 30px;
}
.history-hr-wrap .history-hr {
  
    background: rgba(0,0,0,.3);
}
.history-hr-wrap .history-hr-text {
    color: #9999;
    font-size: 12px;
    text-align: center;
    width: 120px;
    margin: -7px auto 0;
    background: rgba(0,0,0,.2);
    border-radius: 20px;
    padding: 2px 10px;
}

.lts_right3{padding: 3px 0;position:relative;height:auto;overflow:hidden;padding-right:15px}
.lts_right3 span{border-radius:3px;line-height:24px;float:left;margin-bottom:5px;word-break: break-all;
word-wrap: break-word;padding: 2px;}
.time{background:rgba(0,0,0,0.3);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000)";
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000);
        color:#fff;margin-right:6px;text-align:center;width:127px;height:24px;}
.name{background:#3f98fd;color:#fff;margin-left:3px;margin-right:5px;padding:2px 8px;text-align:center;text-decoration:none;height:24px;float: left;line-height: 24px; border-radius: 3px; margin-bottom: 5px;}
.to_m{background:#fff;color:#333;padding:0px 4px;}
.to_m  img{vertical-align: text-bottom;max-width: 300px;max-height: 300px;/* margin: 2px; */}
.hb_msg img{vertical-align: text-bottom;max-height: 60px;  margin-right: 3px;width: auto;}
.RoomUserRole{float:left;width:30px;height:30px;display:block;margin-left:3px;border-radius: 3px;}
.dui {    background-color: #EC781A;
    padding: 0 4px;
    border-radius: 4px}
.msg { float: left; margin-bottom: 2px; font-size:13px; position:relative;left:15px; }
.msg .msg_head { float: left; width: 40px; margin: 7px 3px 0 0; position:absolute; }

/*.msg .msg_head img {  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;width: 40px; }*/
.msg .msg_head img {  
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 2px solid #F9F9F9;
 }

.msg .msg_content { float: left; margin-left:60px; position: relative;}
.msg .msg_group_ico{  vertical-align:text-bottom}
.msg.system-msg .msg_content .layim_chatsay{
    background: #AB47BC!important;
    background: -webkit-linear-gradient(left,#AB47BC,#5169DE)!important;
    background: -moz-linear-gradient(left,#AB47BC,#5169DE)!important;
    background: -ms-linear-gradient(left,#AB47BC,#5169DE)!important;
    background: -o-linear-gradient(left,#AB47BC,#5169DE)!important;
    background: linear-gradient(to right,#AB47BC,#5169DE)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#AB47BC, endcolorstr=#5169DE, gradientType=1);
}
.msg.manage .msg_content .layim_chatsay {
    background: #F44336!important;
    background: -webkit-linear-gradient(left,#F44336,#F97619)!important;
    background: -moz-linear-gradient(left,#F44336,#F97619)!important;
    background: -ms-linear-gradient(left,#F44336,#F97619)!important;
    background: -o-linear-gradient(left,#F44336,#F97619)!important;
    background: linear-gradient(to right,#F44336,#F97619)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#F44336, endcolorstr=#F97619, gradientType=1);
color: #fff!important;
}
.msg.teacher .msg_content .layim_chatsay {
    background: #009688!important;
    background: -webkit-linear-gradient(left, #009688, #396)!important;
    background: -moz-linear-gradient(left, #009688, #396)!important;
    background: -ms-linear-gradient(left, #009688, #396)!important;
    background: -o-linear-gradient(left, #009688, #396)!important;
    background: linear-gradient(to right, #009688, #396)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#009688, endcolorstr=#396, gradientType=1);
    color: #fff!important;
}
.msg .msg_content .layim_chatsay:before { content: ""; height: 0; width: 0; position: absolute; border-left: 8px solid transparent;  border-right: 8px solid transparent;  border-top: 8px solid #e7ebf2;}
.msg .msg_content .layim_chatsay:before {   top: 0px; left: -8px;}
.msg.system-msg .msg_content .layim_chatsay:before { border-top: 8px solid #AB47BC!important;    top: 0px; left: -8px;}
.msg.manage .msg_content .layim_chatsay:before {border-top-color: #F44336!important;top: 0px; left: -8px;}
.msg.teacher .msg_content .layim_chatsay:before { border-top: 8px solid #009688!important;top: 0px; left: -8px;}
.msg   .msg_content .layim_chatsay{    padding: 6px 12px 6px;   background-color:#e7ebf2;margin: 13px 0px;}
.msg.redbag   .msg_content .layim_chatsay{    padding:0px;}
.msg.redbag .msg_content:before { content:none;}
.dui { background-color: #EC781A; padding: 3px 6px;border-radius: 4px; }
.title_tab{ float:left;    background: url(../images/userTabs.png);}
.title_tab a{display:block; width:121px; height:43px; float:left; text-align:center; color:#FFF;cursor: pointer; font-size: 14px;text-decoration:none;    padding-top: 2px;}
.zmurl{background: #0C0; border-radius: 3px; padding:3px 5px;}
.zmurl img{ width:16px; height:16px; vertical-align:text-bottom; border:0px;}
.kefu { border-radius: 3px; padding:3px 18px; margin-left:17px;}
.kefu img{ width:114px; height:26px; vertical-align:text-bottom; border:0px;margin-top: 12px;}
#nav { float:left; color:#ff0; font-size:16px; padding:0 38px; line-height:60px; margin-right:35px;} 
#nav a { display: block; text-align:center; } 
#nav li ul {list-style-type: none;text-align:left; left: -998em; z-index:99;width: 156px; position: absolute; background: rgba(50, 50, 50, 0.7) none repeat scroll 0% 0% / auto 50px;margin-left:-17px; text-align:center;    margin-top: -10px;background-image: url(../images/png3.png);}
#nav li ul li a{background: url(/images/nuoyun_kf.png) no-repeat;width:114px; height: 22px;color: #1b485d;padding-left:4px; line-height:22px; margin:12px auto;} 
#nav li:hover ul { left: auto; } 
#nav li.sfhover ul { left: auto; } 
.NoticeList{/*margin-top: 4px;*/}
.NoticeList .tab a{ float:left;width:90px;text-align:center;height:35px;line-height:35px;display:inline-block;background:rgba(0,0,0,0.5); color:#fff;margin-right:3px;   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);}
.NoticeList .tab .active{ background:rgba(255,255,255,0.3);   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cffffff, endColorstr=#4cffffff);}
#kickmp { margin:10px;}
#kickmp  input{ height:20px; line-height:20px; width:260px;}
#kickmp  select{ height:20px; line-height:20px; width:130px;}
.bt1{text-align: center;font-size: 14px; display: block; margin:5px 0 ; padding:5px;background: #6BC30D;color: #fff; border:0px;cursor: pointer;padding: 3px 15px; }
.bt2{text-align: center;font-size: 14px; display: block; margin:5px 0 ; padding:5px;background:#666;color: #fff; border:0px;}
/*点播 start*/
.broadcastMain {
    position: absolute; 
    z-index: 990;
    display: none;
    width: 100%;
}
.broadcastMain .broadcastTitle {
    height: 30px;
    background: #282828;
    color: #fff;
    line-height: 30px;
    padding: 0 15px 0 20px;
    width: 95%;
}
.broadcastMain .broadcastCon {
    background: #fff;
    padding: 30px 15px 15px;
    width: 97%;
    height: 401px;
    overflow: hidden;
    overflow-y: auto;
}
.broadcastMain .broadcastCon ul {
    overflow: hidden;
}
.broadcastMain .broadcastCon ul li {
    width: 35%;
    float: left;
    padding: 0px 0 10px;
    margin: 0 25px 10px;
    cursor: pointer;
}
.broadcastMain .broadcastCon ul li .broContie {
    margin-right: 10px;
    color: #333;
    width: 177px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.broadcastMain .broadcastCon ul li .pic {
    position: relative;
    width: 177px;
    height: 106px;
    overflow: hidden;
}
.broadcastMain .broadcastCon ul li img {
    width: 177px;
    height: 106px;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.f18 {
    font-size: 18px;
}
.fr {
    float: right;
}
.cursor {
    cursor: pointer;
}
.fl {
    float: left;
}
.mr5 {
    margin-right: 5px;
}
.broadcastMain .closeBroadCastBtn {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 3px;
    z-index: 100;
    cursor: pointer;
    font-size: 28px;
    background: #FFF;
    color: #888;
    background: url(/images/messageBtn.png) no-repeat left -32px;
}
.broadcastMain .closeBroadCastBtn:hover{background:url(/images/messageBtn.png) no-repeat left -3px;}
.broadcastCon .pic:before {
    width: 177px;
    height: 106px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: url(/images/video/play03.png);
    opacity: 0;
    content: "";
    z-index: 30;
    background-size: contain;
}
.broadcastCon .pic:hover:before {
    opacity: 0.7;
}
.broadcastMain .broadcastCon ul li:hover .pic img{
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}
/*点播end*/

#OnLine_MV{ height:390px; text-align:center;}
#mvMask {    
    width: 100%;
    position: absolute;
    /*z-index: 999;*/
    background: rgba(0,0,0,0);
}
#mvMask div {
    position: absolute;
    right: 0;
    text-shadow: 0 0 5px #dd24d6;
    z-index: 10000;
    font-size: 20px;
}
#mvMask div img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 4;
    background-color: rgba(0,0,0,.4);
}
.videoTime{position:absolute;right:5px;top:47px;z-index:989;color:#fff;font-size:14px}
.videoTime .videoTimeTxt{float:left;line-height:25px}
#colockbox{width:176px;height:23px;background:url(../images/colockbox.png) no-repeat;float:right;margin-left:8px;padding:2px 0 0 7px}
#colockbox span{letter-spacing:9.5px}
#colockbox span.hour{margin-left:15px}
#colockbox span.minute{margin-left:1px}
#colockbox span.second{margin-left:2px}
/* 聊天区输入部分样式 */
#topicinput{width:100%;height:94px;left:0;bottom:5px;}
.tool_bar{margin:0px;    border-radius: 2px;background: rgba(0,0,0,0.3); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000)";filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000);height:85px; }
#Msg {
  border-radius: 2px;
    background: rgba(0,0,0,0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#50ffffff,endColorstr=#50ffffff)";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#50ffffff,endColorstr=#50ffffff);
}
#Msg:empty:before{
    content: '观望一天不如咨询一遍，输入您的问题！';
    font-size: 13px;
    color: white;
}
#Msg:focus:before{
    content: none;
}
.inputmsg{position:relative; height:72px; overflow:hidden; padding-top:1px;background: rgba(0,0,0,0.3); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000)";filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000);}
#qqbts{ line-height:24px; overflow: hidden; font-size:16px;}
#qqbts p{padding-left:10px;height:28px;line-height:28px;}
#qqbts .btn { text-align: center; float: left; display: block; width: 70px; height: 22px; line-height: 22px; margin:0px 6px; background: #fff; color: #0e79f6; transition: .3s; border-radius: 2px; ; position: relative; border: 1px solid transparent; border: 1px solid #127dec; font-size: 12px; padding-left: 22px; }
#qqbts .btn i { background: #127dec; color: #FFF; position: absolute; width: 25px; line-height: inherit; left: 0px; text-align: center; font-size: 13px; }
#qqbts .btn:hover { background: #127dec; color: #fff }
#qqbts p a img{display:inline-block;}
#qqbts span{background:#2184DF url(../images/bi.png) right no-repeat;height:22px;line-height: 22px;padding:0 10px 0 8px;display: inline-block;float: left;color: #fff;font-size: 13px;}
#qqbts .morekf{float:right;color:red;font-size: 14px;}
#bar_list{height: 30px;line-height: 30px;}
#bar_list i{margin-right: 3px;font-size: 14px;}
.bar{ color:#fff;width: 24px;height:24px;    text-align: center;line-height:24px;border:1px solid transparent;border-radius:2px;margin-top: 2px; margin-left: 7px;display:inline-block;}
.bar:hover{border: 1px solid rgba(0, 0, 0, .4); }
.bar_1{background: url(../images/pic3.png) no-repeat center center;}
.bar_2{    background: url(../images/fc3.png) no-repeat center center;}
.bar_3{background: url(../images/ct3.png) no-repeat center center;}
.bar_4{background: url(../images/pic3.png) no-repeat center center;}
.bar_9{background: url(../images/tan3.png) no-repeat center center;}
.bar_5{background-position:4px -158px;}
.bar_6{background-color: #d73c3c; background-position:-7px -5px; margin-right:5px;    border: none;width: 75px;height: 23px;line-height: 23px;}
.bar_7{background: url(../images/ziti.png) no-repeat center center;}
.bar_6:hover{border: none;background-color: #B00000;}
.bar_5[select=true]{background-position:4px -363px;}

.bar_8 {background: url(../images/gift.png) no-repeat center center;}

.tool_bar .s_right{position:absolute;right:3px;top:7px;background:rgb(243,243,243);padding-left:30px;}
.tool_bar select{margin:0 5px;}
.tool_div {display: inline-block;position: relative;float: left;height: 30px;margin-left: 5px;}
.adminTip{height:26px; line-height:26px; overflow: hidden; font-size:14px;overflow: hidden;}
.layui-unselect {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
.layui-form-switch {
        cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 19px;
    line-height: 19px;
    width: 46px;
    padding: 0 5px;
    margin-top: 8px;
        margin-right: 7px;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
 background: rgba(0,0,0,0.3); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000)";filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#30000000,endColorstr=#30000000);
    transition: .1s linear;
}
.layui-form-switch i {
    position: absolute;
    left: 5px;
    top: 1px;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #d2d2d2;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}
.layui-form-onswitch {
    border-color: #09F;
    background-color: #09F;
}
.layui-form-switch:before {
    content: '弹幕';
    color: #fff;
    padding-left: 20px;
}
.layui-form-onswitch:before {
    content: '弹幕';
    color: #fff;
    padding-left: 1px;
}
.layui-form-onswitch i {
    left: 35px;
    background-color: #fff;
}
/* 红包 */
#myimage,#myliwu{background:#fff; border:#f00 1px solid; border-right:none; border-bottom:none; border-radius:3px; line-height:20px; bottom: 52px;left: -66px; text-align:center;z-index: 99999999;}
#myimage ul,#myliwu ul{ width:150px; float:left; border:#f00 1px solid; border-left:none; border-top:none;}
#myimage li,#myliwu li{ border-top:1px solid #f00; font-size:12px;}
#myimage ul li:first-child,#myliwu ul li:first-child{ border:none;}
#myimage li a,#myliwu li a{ display:block; line-height:42px;color: #000;}
#myimage li a:hover,#myliwu li a:hover{ background:#E6E6E6;}
.gift-teacher-title{    color: #fff;
    height: 42px;
    line-height: 42px;
    background-color: #f00;
    font-size: 16px;}
.RegBagNumBox{position:absolute;left:9px;top:54px;z-index:100;text-align:left;}
.RegBagNum{display:block;height:38px;overflow: hidden;}
.RegBagNum em{width:35px;height:38px;float:left;display:inline-block;background:url("../images/redBagNum.png") no-repeat scroll 0 0 transparent;}
.RegBagNum span{color:#fff;line-height:54px;min-width:20px;padding:0 12px 0 4px;float:left;height:37px;display:inline-block;background:url("../images/redBagNum.png") no-repeat scroll right 0 transparent;}
.RegBagNumBox span.addnum{color: #ffff00;position: absolute;top: 19px;right: 6px;font-size: 10px;display:none;}
.input_area{margin:0 5px;background:rgb(255,255,255);height:62px;position:relative;padding:5px 130px 0 5px;}
.input_area input{font-size:20px;padding:5px 0;width:100%;height: 42px;border:#B67233 1px solid;outline:none;font-family:Microsoft Yahei}
.sub_btn{background:#aaa url(../images/sent.png) center center no-repeat; width:110px;height:55px;line-height:35px;display:block;border-radius:5px;font-size:0px;position:absolute;right:5px; top:5px;}
/* 表情、彩条 */
.facelist {
    clear: both;
    _height: 1px;
    overflow: hidden;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}
#face{background:#fff; color:#000;border-radius:3px;padding:8px;width:280px;height:208px;position:fixed;z-index:99999999;}
#face dd{float:left;width:27px;height:27px;overflow:hidden;cursor:pointer;padding-left: 3px;padding-top: 3px;    border-left: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb;}
#face ul,#caitiao ul{height:22px; line-height:22px;background:#e4e4e3 url(../images/g_bg.jpg) left top repeat-x;position:absolute;left:0;bottom:0;width:100%;}
#face ul li,#caitiao ul li{float:left; padding:0 5px;border-left:#e4e4e3 1px solid;border-right:#e4e4e3 1px solid;}
#face ul li:hover,#face ul .f_cur,#caitiao ul li:hover,#caitiao ul .f_cur{background:#fff;border-color:#d9d9d8;cursor:pointer;}
#caitiao{background:#fff;border:rgb(146,146,142) 1px solid; border-radius:3px;padding:5px;width:70px;height:115px;left:73px;bottom:81px;box-shadow: 1px 1px 5px #666; color:#000;z-index: 99999999;}
#caitiao dd{background:#f8f6fe;height:22px; line-height:22px;text-align:center;cursor:pointer;}
#caitiao dd:hover{background:#E6E6E6;}
.gray { -webkit-filter: grayscale(100%);-moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; } 

#Div_VN1{width:100px;text-align:center;background:rgba(255,255,255,0.3);color:#fff;padding: 2px 16px 5px 16px;}
#shuaxin{margin-left:10px;font-size: 14px;margin-right: 10px;}
/*生成抽奖码*/
.generate-code-container .generate-copy-code, .generate-code-container .select-code-type {
    margin-top: 12px;
    margin-left: 12px;
}
.generate-code-container .generate-copy-code #inputCodeSrc {
    height: 38px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    width: 66%;
    padding-left: 10px;
    margin-right: 10px;
}
.generate-code-container .generate-copy-code button, .generate-code-btn a {
    height: 32px;
    line-height: 33px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    vertical-align: middle;
}
.generate-code-container .generate-code-btn {
    position: absolute;
    bottom: 23px;
    left: 50%;
    margin-left: -53px;
}
.generate-code-container .generate-code-btn a{
    display: inline-block;
    height: 38px;
    line-height: 38px;
}
.generate-code-container .select-code-type select {
    height: 30px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    width: 36%;
}
/*进入直播间提醒*/
.fsl-come2 {
    width: 23.6rem;
    height: 2.7rem;
    line-height: 3.3rem;
    text-align: left;
    font-size: 1.1rem;
    color: #ffd800;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4.4rem;
    text-indent: .5em;
    background: url(/images/fa.png) left top no-repeat;
    background-size: 23.6rem;
    white-space: nowrap;
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
}

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }
}

.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
}
/*开奖记录颜色*/
#kjRecords>div {
    color: white !important;
}
/*查看更多聊天记录*/
.view-more-records {
    text-align: center;
    padding: 5px 10px;
}
.view-more-records .more-message {
    font-size: 14px;
    color: #9999;
    font-size: 12px;
    text-align: center;
    width: 120px;
    margin: -7px auto 0;
    background: rgba(0,0,0,.2);
    border-radius: 20px;
    padding: 2px 10px;
}
/*开奖相关内容*/
.pptab{height:33px}
.pptab ul{list-style:none}
.pptab li{border:0 solid #ccc;background:#333;cursor:pointer;color:#FFF;display:block;float:left;text-align:center;text-decoration:none;width:89px;font-size:12px;height:33px;line-height:33px;margin:0 0;position:relative;top:0;z-index:9}
.pptab li.curr{background:#F60;border-bottom-color:#fff;cursor:default;color:#FFF}
.cccc{border:0 solid #ccc;padding:0}
.ppindexspt { background:#000; clear:both; width:450px; height:290px; overflow:hidden}
.ppindexsp { clear:both; padding:0 0 0 2px; height:33px; overflow:hidden}
.ppindexsp li { float:left; width:89px; cursor:pointer; text-align:center; height:33px; line-height:33px; background:#333; color:#fff;}
.ppindexsp .active { background:#f60}
.none { display:none}
.pcaizlb { padding:10px 0; height:auto; overflow:hidden; clear:both}
.pcaizlbz { float:left; width:70px; text-align:center; color:#fff;}
.pcaizlbz img { width:50px;}
.pcaizlby { float:right; width:370px; height:auto; overflow:hidden}
.pcaizlby li { float:left; width:92px; height:26px;}
.pcaizlby li a { color:#ff0;}