
.cqssc-nums { width:295px; margin:0 auto; margin-top:10px;}
.cqssc-nums span {width: 48px; height: 48px; float: left; margin-right: 5px; margin-left: 5px; background:url(../images/blue.png) no-repeat; font-family: Tahoma; line-height: 48px; text-align: center; font-size: 16px; font-weight: bold; color: #000; padding-top:2px; padding-left:1px;}

.main {
  height: 90px;
  margin-top: 50px;
}

.main .width_1000 .icon ul li{width:140px; height:126px; float:left; text-align:center;}
.main .width_1000 .icon ul li h1 a{font-size:14px; color:#000;}
.main .width_1000 .icon ul li h1 img{width:50px; height:50px; margin:20px 0 12px 0;}
.main .width_1000 .count{width:906px; height:172px; background:url(images/bgcount.png) no-repeat center center; margin:0px auto 0 auto; border-radius:10px;box-shadow:3px 3px 6px #222;}
.main .width_1000 .count2{ background:none}
.main .width_1000 .count .firstcount{width:260px; height:117px; float:left; padding-top:48px;}
.main .width_1000 .count .firstcount .pic{width:70px; float:left; margin:14px 0 0 22px;}
.main .width_1000 .count .firstcount .pic img{width:70px; height:70px;}
.main .width_1000 .count .firstcount .text{width:150px; float:left; text-align:center; margin-top:14px;}
.main .width_1000 .count .firstcount .text h2{font-family:"微软雅黑"; font-size:24px; color:#fff; font-weight:normal; height:36px; background:url(images/line2.png) no-repeat center bottom;}
.main .width_1000 .count .firstcount .text p{font-size:14px; color:#fff; font-weight:bold; padding-top:16px;}
.main .width_1000 .count .firstcount .text p span{font-size:12px; color:#fff;}

.main .width_1000 .count .middlecount{width:380px; height:156px; float:left; text-align:center;}
.main .width_1000 .count .middlecount h2{font-family:"微软雅黑"; font-size:24px; color:#fff; font-weight:normal; height:52px; line-height:52px; background:url(images/line1.png) no-repeat center bottom; padding-top:24px;}
.main .width_1000 .count .middlecount .lottery{padding-top:14px;}
.main .width_1000 .count .middlecount .lottery i{display:block; width:25px; height:25px; background:url(images/pk10-nums.gif) no-repeat; padding-right:5px; float:left;}
.main .width_1000 .count .middlecount .lottery .lot-no1{background-position:0 0;}
.main .width_1000 .count .middlecount .lottery .lot-no8{background-position:0 -189px;}
.main .width_1000 .count .middlecount .lottery .lot-no2{background-position:0 -27px;}
.main .width_1000 .count .middlecount .lottery .lot-no6{background-position:0 -135px;}
.main .width_1000 .count .middlecount .lottery .lot-no7{background-position:0 -162px;}
.main .width_1000 .count .middlecount .lottery .lot-no5{background-position:0 -108px;}
.main .width_1000 .count .middlecount .lottery .lot-no9{background-position:0 -216px;}
.main .width_1000 .count .middlecount .lottery .lot-no10{background-position:0 -243px;}
.main .width_1000 .count .middlecount .lottery .lot-no3{background-position:0 -54px;}
.main .width_1000 .count .middlecount .lottery .lot-no4{background-position:0 -81px;}


.main .width_1000 .count .lastcount{width:260px; height:117px; float:left; padding-top:48px;}
.main .width_1000 .count .lastcount h2{font-family:"微软雅黑"; font-size:18px; color:#fff; font-weight:normal; height:36px; background:url(images/line3.png) no-repeat center bottom; padding-top:16px; text-align:center;}
.main .width_1000 .count .lastcount #bottom #countdown{width:180px; height:46px; line-height:20px; margin:0 auto; text-align:center; margin-top:5px;}
.main .width_1000 .count .lastcount #bottom #countdown span{font-size:12px; color:#fff;font-weight:bold;}
.main .width_1000 .count .lastcount #bottom #countdown .timeBox{display:inline-block; width:75px; font-family:"微软雅黑"; font-size:18px; color:#fff;}
.main .width_1000 .count .lastcount #bottom #countdown .timeBox .minutes{display:inline-block; width:46px; height:46px; background:url(images/square_03.png) no-repeat center center; font-family:"微软雅黑"; font-size:30px; color:#c12445; margin-right:3px;}
.main .width_1000 .count .lastcount #bottom #countdown .timeBox .seconds{display:inline-block; width:46px; height:46px; background:url(images/square_03.png) no-repeat center center; font-family:"微软雅黑"; font-size:30px; color:#c12445; margin-right:3px;}

.middlecount .lot-nums2 {
    border:none;
    background:none;
    margin-left:74px;
}

.middlecount .lot-nums3 {
  border: none;
  background: none;
  margin-left: 16px;
}

p.green {
    color:green;
}

.middlecount .lot-nums4 {
  border: none;
  background: none;
  margin-left: -16px;
}

.middlecount .lot-nums5 {
  border: none;
  background: none;
  margin-left: 21px;
}

.middlecount .lot-nums6 {
  border: none;
  background: none;
  margin-left:-8px;
}
#cqsscdt{color:#FFFFFF; text-align:center;}


.cqssc-nums2 { width:300px; margin:0 auto; margin-top:10px;}
.cqssc-nums2 span {width: 26px; height: 30px; float: left; margin-right: 2px; margin-left: 2px; font-family: Tahoma; line-height: 32px; text-align: center; font-size: 14px; font-weight: bold; color: #fff;border-radius:5px;text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
-webkit-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
-moz-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
*filter: Glow(color=#000, strength=1); }

.cqssc-nums2 .car-01{ background-color:#96a3be}
.cqssc-nums2 .car-02{ background-color:#a2ef40}
.cqssc-nums2 .car-03{ background-color:#e45ee7}
.cqssc-nums2 .car-04{ background-color:#7d0665}
.cqssc-nums2 .car-05{ background-color:#751d31}
.cqssc-nums2 .car-06{ background-color:#faeac4}
.cqssc-nums2 .car-07{ background-color:#d72d18}
.cqssc-nums2 .car-08{ background-color:#fad6f4}
.cqssc-nums2 .car-09{ background-color:#0a8005}
.cqssc-nums2 .car-10{ background-color:#d3d944}